<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="../style/css/style.css"
    />
    <link
      rel="stylesheet"
      href="../style/css//fontawesome.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css" integrity="sha512-R+xPS2VPCAFvLRy+I4PgbwkWjw1z5B5gNDYgJN5LfzV4gGNeRQyVrY7Uk59rX+c8tzz63j8DeZPLqmXvBxj8pA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css" integrity="sha512-nS1/hdh2b0U8SeA8tlo7QblY6rY6C+MgkZIeRzJQQvMsFfMQFUKp+cgMN2Uuy+OtbQ4RoLMIlO2iF7bIEY3Oyg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css" integrity="sha512-R+xPS2VPCAFvLRy+I4PgbwkWjw1z5B5gNDYgJN5LfzV4gGNeRQyVrY7Uk59rX+c8tzz63j8DeZPLqmXvBxj8pA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>NitacagraSoftwares | Undeveloped</title>
  </head>
 <body>
     <header>
      <nav
        class="navbar navbar-expand-sm navbar-dark shadow p-3 mb-5 bg-dark rounded fixed-top menu"
      >
      <div class="container-fluid">
          <a href="#" class="navbar-brand logo-title">
            NITACAGRA <span class="sub-logo">Softwares</span></a
          >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-links navbar-collapse" 
              id="navbarCollapse">
            <div class="navbar-nav nav-links">
              <hr >
         
            <a class="nav-link active navs-link" aria-current="page" href="../html.pages/home.html">Home</a>     
                <div class="dropdown">
                  <a class="nav-link active navs-link" href="../html.pages/offerredServices.html">Our Services</a>
                  <div id="services" class="service-items">
                    <!-- <a class="nav-link" href=""> Services</a>
                    <a class="nav-link" href="">Products</a>
                    <a class="nav-link " href="">Project</a> -->
                  </div>
                </div>
                
                <a class="nav-link active navs-link" href="../html.pages/blog.html"
                  >Blog</a>
                <a
                  class="nav-link active navs-link" 
                  href="../html.pages/about.html"
                  >About us</a>
                  <a class="nav-link active navs-link" href="../html.pages/projetcts.html">New Features</a
                >
                <a class="nav-link login "href="../html.pages/administration.html">| Log In</a>
          </div>
        </div>
       <form class="search" role="search">
          <div class="seacrh d-flex ">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  id = 'search-btn' class="btn  btn-outline-info" type="submit">Search</button>
          </div> 
        </form>  
    </nav>
  </header>
 <main class="hero-index">
  <section class="carousel">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
       <section id="modals" class="modals ">
      <div  class="modal modal-alert position-static d-block  py-5" tabindex="-1" role="dialog" id="modalChoice">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-body p-4 text-center">
        <h5 class="mb-0"> Search Functinality under Development</h5>
        <hr>
        <p class="mb-0">Thanks For Choosing Nitacagra Softwares. This functinality will be available soon</p>
      </div>
      <div class=" mb-3 text-center ">
        <button id="closebtn" type="button" class="btn btn-color btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end btn-info"><strong>Close</strong></button>
      </div>
    </div>
  </div>
</div>
    </section>
      <div class="carousel-item active">
         <img src="../NITACACRAIMAGES/webpage3.jpg"  class=" img-fluid d-block w-100" alt="For Projects Guides" /> 
        <div class="container">
          <div class="carousel-caption text-start">
             <h1>Nicole's Haeding.</h1>
            <p>This section if for Nicole both Heading and Discription.</p>
            <p><a class="btn btn-lg btn-info" href="#">Sign Up Today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="8000">
          <img src="../NITACACRAIMAGES/webpage1.jpg"  class=" img-fluid d-block w-100" alt="Programmed Drone" /> 
         <div class="container">
          <div class="carousel-caption">
            <h1>Projects Guides.</h1>
            <p>For Your Best Final Year College Project Contact Nitacagra Softwares.</p>
           
            <p><a class="btn btn-lg btn-success" href="#">Contact Today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img src="../NITACACRAIMAGES/webpage2.jpg"  class="img-fluid d-block w-100" alt="The spider web representing  website" /> 

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Web Hosting.</h1>
            <p> <strong>Nicoles Part</strong> .</p>
            <p><a class="btn btn-lg btn-color" href="#">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
    </section>
   
    <section class="product-services">
        <div class="container text-start   services">
        <h1 class=" p-4 text-center">Products And Services <hr></h1>
      
        <div class="row  g-5">
          <div class="col-4">
            <img src="../NITACACRAIMAGES/pdctNsrvc1.jpg" class="pic img-fluid" alt="Website Develpment">
            <div class="p-4 border  shadow bg-light">
              <div class="txt">
               <h4 header >Website Development</h4>
               <hr>
                <p>
                Nicole
                </p>
               
                <br />
                <button type="button" class="btn btn-secondary home button"> <a href = "{% url 'services'%}"> More </a> Services</button>
             </div>
            </div>
          </div>
          <div class="col-4">
            <img src="../NITACACRAIMAGES/prctNsrvc2.jpg" class="pic img-fluid" alt="Website Develpment">
            <div class="p-4 border  shadow bg-light">
              <div class="txt">
               <h4 class="header">Blog Writting and Hosting</h4>
               <hr>
                <p>
                Nicole
                </p>
                <br />
                
                
                <button type="button" class="btn btn-secondary home button"> <a href = "{% url 'services'%}"> More </a> Services</button>
             </div>
            </div>
          </div>
          <div class="col-4">
            <img src="../NITACACRAIMAGES/pdctNsrvc4.jpg" class="pic img-fluid" alt="Website Develpment">
            <div class="p-4 border  shadow bg-light">
              <div class="txt">
               <h4 class="header">Pic16F877A Programming</h4>
               <hr>
                <p>
                Nicole
                </p>
               
                <br />
                <button type="button" class="btn btn-secondary home button"> <a href = "{% url 'services'%}"> More </a> Services</button>
             </div>
            </div>
          </div>
         
         
      </div>
    </section>
   <script src="../style/js/bootstrap.bundle.js"></script>
 </main>

    
    
  </body>
  

<footer class="py-5 "> 
    <div class="container"> 
        <div class="row center">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="header-blue">Section</h5>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Services</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
             </div> 
             
            <div class="col-6 col-md-2 mb-3"> 
                <h5  class="header-blue">Get In Touch</h5> <hr>
                <ul class="nav flex-column">
                <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email :</a></li> -->
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email :<strong>tnctelecomms@gmail.com</strong></a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands Whatsapp fa-whatsapp"></i>0773735227</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands Whatsapp fa-whatsapp"></i> 071 303 7757</a></li>
                </ul>
            </div> 
            <div class="col-6 col-md-2  mb-3">
                <div class="text-end">
                <h5 class="header-blue">Address</h5> <hr>
                <ul class="nav flex-column ">
                <li class="nav-item mb-2">Harare</li>
                <li class="nav-item mb-2">Mutare</li>
                </ul>
            </div>
         </div> 
            <div class="col-6 col-md-2 mb-3">
                <h5  class="header-blue">Follow Us</h5> <hr>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://www.instagram.com/" class="nav-link p-0 text-muted"><i class="fa-brands  a-tags fa-instagram"></i> Instagram</a></li>
                <li class="nav-item mb-2"><a href="https://twitter.com/home"  class="nav-link p-0 text-muted"> <i class="fa-brands facebook fa-twitter"></i> Twitter</a></li>
                <li class="nav-item mb-2"><a href="https://www.facebook.com/" class="nav-link p-0 text-muted"> <i class="fa-brands facebook a-tags fa-facebook"></i> Facebook</a></li>

                </ul>
            </div>
         </div> 
         <!-- <div class="col-md-5 offset-md-0 mb-3 ">
            <form class="comment">
                <h5>Leave a comment</h5>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <input type="text" class="form-control" placeholder="Write Your Comment">
                    <button  id ='comment'class="btn btn-outline-info" type="button">Submit</button>
                </div>
            </form>
         </div>  -->
   </div> 
   <div class="d-flex flex-column flex-sm-row mx-md-5 center justify-content-between py-4 my-4 border-top">
     <p> Develped by NITACAGRA SOFTWARES</p>
      <p>&copy; <span id="time">2023</span> Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-light a-tags" href="https://twitter.com/home"> <i class="fa-brands facebook fa-twitter"></i> Twitter</a></li>
        <li class="ms-3"><a class="link-light  a-tags" href="https://www.instagram.com/"><i class="fa-brands  a-tags fa-instagram"></i> Instagram</a></li>
        <li class="ms-3"><a class="link-light  a-tags" href="https://www.facebook.com/"><i class="fa-brands facebook a-tags fa-facebook"></i> Facebook</a></li>
      </ul> 
    </div> 
   
<script src="../JS/index.js"></script>
</footer>
  
</html>


